body{
    background-color: #00FF65;
    color:white;
}

.container-fluid{
	margin:1%;
}

.jumbotron{
    background-color: #00C551;
}

.shadow{
    -webkit-box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.75);
}

#yt-player{
	padding-left:1%;
}

button{
	margin-top:10px;
	width:100%
}

button i{
	margin-bottom:-5px;
}

button h4{
	margin-top:5px;
	margin-bottom:5px;
}

a, a:visited{
    color:white;
}

a:hover{
    color:#00933B;
}

@media screen and (max-device-width: 480px) {
	body{
		font-size:3em;
	}
	
	h4{
		font-size:1em;
	}

	h3, button h4{
		font-size:1.5em;
	}
	
	h5{
		font-size:0.8em;
	}
}
